# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Optional: Ignore build artifacts
dist/
build/

# Optional: local MongoDB data (only if dumping locally)
dump/
